@keyframes transitionLeft {
  from {
    transform: translateX(5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes bulet {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes widthStrech {
  to {
    width: 100%;
  }
}
