.text__word {
  display: inline-block;
  margin: 0 0 -0.5em 0;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2;
}

.text__word span {
  transform: translate3d(0, 1.25em, 0);
  display: inline-block;
  will-change: transform;
}

.screen.active .text-ready .text__word span {
  transform: translate3d(0, 0, 0);
}
