$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;
$c-blue-dark: #3f72ee;
$c-blue-light: #90b8e2;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical", "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$basic-duration: 500ms;
$timing-func-elastic-ball: cubic-bezier(0.6, -0.25, 0.34, 1.51);

:root {
  --primary-color: #{$c-dark};
  --secondary-color: #{$c-purple};
}

.story-slide1 {
  --primary-color: #{$c-purple};
  --secondary-color: #{$c-dark};
}

.story-slide2 {
  --primary-color: #{$c-blue-dark};
  --secondary-color: #{$c-blue-light};
}

.story-slide3 {
  --primary-color: #{$c-blue-light};
  --secondary-color: #{$c-blue-dark};
}

.story-slide4 {
  --primary-color: #{$c-dark};
  --secondary-color: #{$c-purple};
}
